@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --font-family-main: 'Inter', sans-serif;
  --font-family-secondary: 'PT Sans', sans-serif;
  --color-background: #7bcbe6;
  --color-font-blue: #133063;
  --color-font-grey: #87878a;
}
